* {box-sizing: border-box;}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100%;
}

footer{
    align-self: flex-end;
    background-color: #555;
    padding: 10px 0
}

.titulo{
    text-align: center;
    background-color: #555;
    margin: 0px;
    color: white;
    padding: 5px;
}
 
nav{
    display: block;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    list-style-type: none;
    background-color: #f1f1f1;
    padding: 0px;
}
ul{
    margin: 0px;
}
li{
    display: inline;
}

li a{
    color: black;
    display: inline-block;
    margin: 0px auto;
    padding: 15px 40px;
    text-decoration: none;
}
li a:hover{
    background-color: #555;
    color: white;
}

div#sobreeu{
    text-align: justify;
    padding: 10px 50px 50px 50px;
}

div#projeto{
    padding: 10px 50px 50px 50px;
    display: block;
    text-decoration: none;
}

div#formacao{
    padding: 10px 50px 50px 50px;
}

div#contato{
    padding: 10px 50px 50px 50px;
}


